/* controls the size and length of the gray background image */
.cover {
	align-items: center;
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 700px;
	justify-content: center;
	position: relative;
}
/* the code to keep the logo center of the background image */
.thelogo {
	object-fit: cover;
	left: 0;
	position: absolute;
	top: 0;
	left: 55px;
	height: 35%;
	width: 70%;
}

.cover .button {
	height: 102px;
	position: relative;
	width: 362px;
}

/* controls button placement on the screen */
.cover .button {
	background-size: 100% 100%;
	height: 102px;
	left: 40px;
	top: -160px;
	bottom: 200px;
	position: relative;
}

/* controls the shape of the button and colors */
.button {
	color: #000000;
	fill: #fefffe;
	stroke-width: 10px;
	stroke: #131552;
	font-family: "Istok Web-Regular", Helvetica;
	height: 102px;
	width: 362px;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	text-shadow: 0px 4px 4px #00000040;
}
