* {
	box-sizing: border-box;
}

.body {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top: 110%;
	width: 100%;
}

.body {
	display: flex;
}

.intro-text {
	display: flex;
}
.body .line {
	background-image: url(./line1.jpg);
	height: 1%;
	left: 0%;
	position: absolute;
	top: 0%;
	width: 100%;
	box-shadow: 4px 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.body .line-2 {
	background-image: url(./line1.jpg);
	height: 1%;
	left: 0%;
	position: absolute;
	top: 15%;
	width: 100%;
	box-shadow: 4px 8px 8px 8px rgba(0, 0, 0, 0.25);
}
.label {
	width: 390px;
	height: 220px;
	flex-shrink: 0;
}

.heading {
	position: absolute;
	top: 1.5% !important;
	right: 25%;
	justify-content: center;
	align-self: center;
	margin: auto;
	color: #000;
	text-align: center;
	font-family: Zen Dots;
	text-shadow: 3px 3px white;
	font-size: 400%;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 50%;
}

@media screen and (min-width: 445px) and (max-width: 450px) {
	.body {
		position: absolute;
		top: 35%;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.body {
		position: absolute !important;
		top: 100% !important;
		.heading {
			font-size: 400%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 390px) and (max-width: 430px) {
	.body {
		position: absolute !important;
		top: 30% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 355px) and (max-width: 380px) {
	.body {
		position: absolute !important;
		top: 37% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 359px) and (max-width: 365px) {
	.body {
		position: absolute !important;
		top: 32% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 373px) and (max-width: 375.5px) {
	.body {
		position: absolute !important;
		top: 37% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 359px) and (max-width: 362px) {
	.body {
		position: absolute !important;
		top: 32% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 765px) and (max-width: 823px) {
	.body {
		position: absolute !important;
		top: 35% !important;
		.heading {
			font-size: 200%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 909px) and (max-width: 1025px) {
	.body {
		position: absolute !important;
		top: 38% !important;
		.heading {
			font-size: 200%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 279px) and (max-width: 281px) {
	.body {
		position: absolute !important;
		top: 28% !important;
		.heading {
			font-size: 111%;
			position: absolute;
			top: 3%;
			text-shadow: 1px 1px white;
		}
	}
}

@media screen and (min-width: 539px) and (max-width: 542px) {
	.body {
		position: absolute !important;
		top: 45% !important;
		.heading {
			font-size: 200%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 280px) and (max-width: 280px) {
	.body {
		position: absolute !important;
		top: 28% !important;
		.heading {
			font-size: 110%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 412px) and (max-width: 412px) {
	.body {
		position: absolute !important;
		top: 30% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
	.body {
		position: absolute !important;
		top: 100% !important;
		.heading {
			font-size: 250%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 1280px) and (max-width: 1280px) {
	.body {
		position: absolute !important;
		top: 80% !important;
		.heading {
			font-size: 365%;
			position: absolute;
			top: 2%;
		}
	}
}

@media screen and (min-width: 912px) and (max-width: 912px) {
	.body {
		position: absolute !important;
		top: 35% !important;
		.heading {
			font-size: 250%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 412px) and (max-width: 412px) {
	.body {
		position: absolute !important;
		top: 30% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 375px) and (max-width: 375.5px) {
	.body {
		position: absolute !important;
		top: 38% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 360px) and (max-width: 360.5px) {
	.body {
		position: absolute !important;
		top: 32% !important;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 768.5px) {
	.body {
		position: absolute !important;
		top: 42% !important;
		.heading {
			font-size: 200%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 912px) and (max-width: 912px) {
	.body {
		position: absolute !important;
		top: 35% !important;
		.heading {
			font-size: 250%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 280px) and (max-width: 280px) {
	.body {
		position: absolute !important;
		top: 28% !important;
		.heading {
			font-size: 100%;
			position: absolute;
			top: 3%;
		}
	}
}

@media screen and (min-width: 819px) and (max-width: 820px) {
	.body {
		position: absolute !important;
		top: 36% !important;
		.heading {
			font-size: 250%;
			position: absolute;
			top: 3%;
		}
	}
}
