* {
	box-sizing: border-box;
}

.body {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top: 110%;
	width: 100%;
}

.body {
	display: flex;
}
.body .line {
	background-image: url(./line1.jpg);
	height: 1%;
	left: 0%;
	position: absolute;
	top: 0%;
	width: 100%;
	box-shadow: 4px 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.body .line-2 {
	background-image: url(./line1.jpg);
	height: 1%;
	left: 0%;
	position: absolute;
	top: 15%;
	width: 100%;
	box-shadow: 4px 8px 8px 8px rgba(0, 0, 0, 0.25);
}
.label {
	width: 390px;
	height: 220px;
	flex-shrink: 0;
}

.heading {
	position: absolute;
	top: 5%;
	right: 25%;
	justify-content: center;
	align-self: center;
	margin: auto;
	color: #000;
	text-align: center;
	font-family: Zen Dots;
	text-shadow: 3px 3px white;
	font-size: 400%;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 50%;
}

@media screen and (min-width: 445px) and (max-width: 450px) {
	.body {
		position: absolute;
		top: 35%;
		.heading {
			font-size: 150%;
			position: absolute;
			top: 3%;
		}
	}
}
