/* controls the size and length of the gray background image */
/* removed special charcter */

.the-container {
	display: flex;
	flex-direction: row;
}

.btn {
	position: absolute;
	margin: auto;
	right: 45%;
	height: 6%;
	width: 10%;
	top: 93% !important;
	font-size: medium;
	font-size: medium !important;
	cursor: pointer;
}
