/* Base styling for the button */
.the-container .btn {
	position: absolute;
	margin: auto;
	right: 45%;
	height: 6%;
	width: 10%;
	top: 93% !important;
	font-size: medium;
	cursor: pointer;
}

/* Responsive styling for smaller screens (phones) */
@media screen and (max-width: 480px) {
	.the-container .btn {
		right: 40%;
		height: 5%;
		width: 15%;
		font-size: small;
	}
}

/* Responsive styling for medium-sized screens (tablets) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
	.the-container .btn {
		right: 43%;
		height: 5%;
		width: 12%;
		font-size: medium;
	}
}

/* Responsive styling for larger screens (computers) */
@media screen and (min-width: 1025px) {
	.the-container .btn {
		right: 45%;
		height: 6%;
		width: 10%;
		font-size: medium;
	}
}
