/* controls the size and length of the gray background image */

.button-container {
	display: flex;
	justify-content: space-between;
}
/* .cover {
	align-items: center;
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	position: relative;
}
/* the code to keep the logo center of the background image 
.lgo {
	position: absolute;
	top: 100px;
	justify-content: center;
	object-fit: cover;
	height: 50%;
	width: 35%;
/* } */

.btn {
	position: absolute !important;
	right: 41%;
	height: 50%;
	top: 100%;
	justify-content: center;
	width: 50%;
	float: none;
	cursor: pointer;
}

@media all and (max-width: 2560px) {
	.button-container {
		width: 100%;
		.btn {
			position: absolute !important;
			right: 45% !important;
			height: 5% !important;
			top: 100%;
			justify-content: center;
			width: 10% !important;
			font-size: x-large !important;
		}
	}
}

@media all and (max-width: 1440px) {
	.button-container {
		width: 100%;
		.btn {
			position: absolute !important;
			right: 42% !important;
			height: 5% !important;
			top: 100%;
			justify-content: center;
			width: 15% !important;
			font-size: x-large !important;
		}
	}
}

@media all and (max-width: 1024px) {
	.button-container {
		width: 100%;
		.btn {
			position: absolute !important;
			right: 39% !important;
			height: 5% !important;
			top: 80%;
			justify-content: center;
			width: 20% !important;
			font-size: x-large !important;
		}
	}
}

@media all and (max-width: 768px) {
	.button-container {
		width: 100%;
		.btn {
			position: absolute !important;
			right: 39% !important;
			height: 5% !important;
			top: 80%;
			justify-content: center;
			width: 20% !important;
			font-size: large !important;
		}
	}
}

@media all and (max-width: 426px) {
	.button-container {
		width: 100%;
		.btn {
			position: absolute !important;
			right: 32% !important;
			height: 5% !important;
			top: 40%;
			justify-content: center;
			width: 30% !important;
			font-size: medium !important;
		}
	}
}

@media all and (max-width: 376px) {
	.button-container {
		width: 100%;
		.btn {
			position: absolute !important;
			right: 32% !important;
			height: 5% !important;
			top: 35%;
			justify-content: center;
			width: 30% !important;
			font-size: small !important;
		}
	}
}

@media all and (max-width: 320px) {
	.button-container {
		width: 100%;
		.btn {
			position: absolute !important;
			right: 32% !important;
			height: 5% !important;
			top: 30%;
			justify-content: center;
			width: 30% !important;
			font-size: x-small !important;
		}
	}
}
