.complete-web {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.complete-web .overlap-group-wrapper {
	height: 10878px;
	overflow-x: hidden;
	width: 1275px;
}

.complete-web .overlap-group {
	height: 10878px;
	left: -4px;
	position: relative;
	width: 1283px;
}

.complete-web .body {
	height: 10878px;
	left: 4px;
	position: absolute;
	top: 0;
	width: 1274px;
}

.complete-web .line {
	height: 13px;
	left: 0;
	position: absolute;
	top: 821px;
	width: 1283px;
}
